---
title: Contact Michael Harley
layout: base.njk
---
<h1>Contact</h1>
<p>Let's connect! The two best methods are probably <a href="https://twitter.com/obsolete29">Twitter</a> or <a href="mailto:mike@obsolete29.com">email</a></p>
<h2>Around the web</h2>
<ul>
    <li><a href="https://www.goodreads.com/obsolete29"></a>Goodreads</li>
    <li><a href="https://letterboxd.com/obsolete29"></a>Letterboxd</li>
    <li><a href="https://open.spotify.com/user/dh7g2ogldbba1kql35fvy4dqb?si=9WQ4ahpJQKqq5sawg8BtoA"></a>Spotify</li>
    <li><a href="https://github.com/mharleydev"></a>Github</li>
    <li><a href="https://www.linkedin.com/in/mharleydev/"></a>LinkedIn</li>
</ul>