/* base
   ========================================================================== */

   @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
        url('/assets/fonts/roboto-v20-latin-300.woff2') format('woff2'),
        url('/assets/fonts/roboto-v20-latin-300.woff') format('woff');
}
  
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        url('/assets/fonts/roboto-v20-latin-regular.woff') format('woff');
}
  
:root {
    --color-accent: #d80b77;
    --color-primary-shade: #d80b7733;
    --color-subdued-accent: #686868;
    --color-title: #000;
    --color-fore:  #444;
    --color-background: #f1f5f7;
    --color-footer-fore: #b4cddd;
    --color-footer-background: #233742;
    --font-size-small: 1rem;
    --font-size-normal: 1.2rem;
    --font-family-sans-serif: 'Roboto', sans-serif;
    --font-family-monospace: monospace;
    --line-height-small: 1.2;
    --line-height-medium: 1.6;
    --shadow-link: inset 0 -0.1em 0 var(--color-primary-shade);
    --shadow-link-hover: inset 0 -0.1em 0 currentColor;
    --timing-hover: ease-out 0.1s;
    --weight-normal: 400;
    --weight-light: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    list-style-position: inside;
}

img,
picture {
    height: auto;
    max-width: 100%;
    display: block;
}

figure {
    margin: 1em 0 1em 0;
}

figcaption {
    font-style: italic;
    font-size: var(--font-size-small);
}

html, body {
    height: 100%;
}

body {
    color: var(--color-fore);
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-medium);
    font-weight: var(--weight-normal);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--color-background);
}

main {
    flex: 1 0 auto;
}

a {
    color: inherit;
}

blockquote {
    background: var(--color-background);
    border-left: 10px solid var(--color-primary-shade);
    margin: 1.5em 0;
    padding: 0.5em 20px;
    quotes: "\201C""\201D""\2018""\2019";
}

h1 {
    color: var(--color-title);
    line-height: var(--line-height-small);
}

.container {
    max-width: 75ch;
    margin: 0 auto;
    width: min(96%, 75ch);
}

/* Header */

.page-stripe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8px;
    background-image: linear-gradient(to right,#f1f5f7,#d80b77);
}

.site-top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: flex-end;
}

.site-top-nav__link:not(:last-child) {
    margin-right: 1em;
}

.site-top-nav__link-img {
    display: none;
}

@media (max-width: 501px) {

    .site-top-nav__links {
        margin-top: 0;
        align-self: center;
    }

    .site-top-nav__link:not(:last-child) {
        margin-right: 2em;
    }

    .site-top-nav__link--home {
        display: none;
    }

    .site-top-nav__link-img {
        display: block;
        border-radius: 50%;
    }
}
  
.site-top-nav__link {
letter-spacing: .1em;
text-decoration: none;
color: var(--title-color);
}

.site-top-nav__link--home {
font-weight: bold;
font-family: var(--font-family-monospace);
font-size: 1.4em;
line-height: 1;
}

.site-top-nav__home-character {
margin-right: 5px;
color: var(--color-accent);
}

/* Profile */

.profile {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.profile__image {
    border-radius: 50%;
    align-self: flex-start;
    margin: 0 auto 1em auto;
    height: 320px;
    width: 320px;
}


@media (max-width: 501px) {
    .profile__image {
        display: none;
    }
}

.profile__info {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 350px;
    margin-left: 2rem;
    align-self: center;
}

.profile__title {
    line-height: var(--line-height-small);
    margin-bottom: 0;
    margin-top: 0;
}

@media (max-width: 501px) {
    .profile__title {
        margin-top: 0.67em;
    }

    .profile__info {
        margin-left: 0;
    }
}

.profile__sub-title {
    color: var(--color-accent);
    line-height: var(--line-height-small);
    margin-top: 0px;
    font-weight: 300;
}

.featured-posts a {
    color: var(--color-accent);
    text-decoration: none;
    box-shadow: var(--shadow-link);
    transition: box-shadow var(--timing-hover);
}

.featured-posts a:hover {
  box-shadow: var(--shadow-link-hover);
}


.featured-posts__post {
    font-weight: var(--weight-light);
}

.more-writing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-accent);
    font-weight: var(--weight-normal);
    text-decoration: none;
}

.more-writing__symbol {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.more-writing__text {
  color: var(--color-accent);
  text-decoration: none;
  box-shadow: var(--shadow-link);
  transition: box-shadow var(--timing-hover);
}

.more-writing__text:hover {
  box-shadow: var(--shadow-link-hover);
}

/* Posts */

.posts__header {
    border-bottom: 1px solid;
    margin-bottom: 0;
}

.posts__post-summary {
    display: flex;
    flex-direction: column;

    border-bottom: 1px dotted;
    padding-top: .75em;
}

.posts__post-summary-date {
    color: var(--color-subdued-accent);
    font-weight: var(--weight-light);
    font-size: var(--font-size-small);
}

.posts__post-summary-title {
    color: var(--color-accent);
    font-weight: var(--weight-light);
    text-decoration: none;
    max-width: 85%;
}

@media screen and (min-width: 501px) {
    .posts__post-summary {
        flex-direction: row;
        justify-content: space-between;
        
    }

    .posts__post-summary-date {
        order: 2;
        font-size: var(--font-size-normal);
    }
}

/* Post */

.post__body {
    border-bottom: 1px solid #000;
}

.post__body a {
    color: var(--color-accent);
    text-decoration: none;
    box-shadow: var(--shadow-link);
    transition: box-shadow var(--timing-hover);
}

.post__body a:hover,
.post__body a:focus {
    box-shadow: var(--shadow-link-hover);
}

.post__img:not(:last-child) {
  margin-bottom: 5px;
}

.post__figure-caption {
    font-style: italic;
    font-size: var(--font-size-small);
}

.post__footer {
    border-bottom: 1px solid #000;
}

.post__metadata-icon {
    display: inline-block;
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
}

.post__metadata {
    margin: 0.8em 0;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    color: var(--color-subdued-accent);
}

.post__discussion {
    font-size: var(--font-size-small);
    padding-top: 2em;
    padding-bottom: 1em;
}

.post__discussion-link {
    border: 1px solid #000;
    padding: .4rem 1rem .5rem 1rem;
    line-height: 1;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 12em;
    color: var(--color-title);
}

.post__discussion-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    box-shadow: 0 0 0 3px #000;
}

.post__discussion-icon {
    width: 22px;
}

.post__callout {
  background: var(--color-background);
  margin: 1.5em 0;
  padding: 0.5em 20px;
  border-top: 3px solid;
  border-image: linear-gradient(to right,#f1f5f7,#d80b77) 1 0 0 0;
}

/* Footer */

.site-footer {
    border-top: 8px solid var(--color-footer-fore);
    background-color: var(--color-footer-background);
    flex-shrink: 0;
    width: 100%;
    color: var(--color-footer-fore);
    margin-top: 1em;
    padding: calc(2rem + 8px) 0 2rem;
}
  
.site-footer__disclaimer {
    text-align: center;
    font-size: var(--font-size-small);
    font-weight: var(--weight-light);
    margin: 0;
}

.site-footer__link {
    color: var(--color-footer-fore);
}

.site-footer__social-bar {
    display: flex;
    justify-content: center;
}

.site-footer__social-bar-icon {
    height: 32px;
    width: 32px;
    margin: 0 10px;
    transition: all .1s ease-in-out;
}

.site-footer__social-bar-icon:hover {
    transform: scale(1.2);
}

.site-footer__svg-background-color {
    fill: var(--color-footer-fore);
}

.site-footer__svg-foreground-color {
    fill: var(--color-footer-background)
}

.site-footer__svg-stroke-color {
    stroke: var(--color-footer-background);
}