---
title: About Michael Harley
layout: base.njk
---
<h1>About me</h1>
<p>Hi there! I'm Mike and welcome to my personal space on the world wide web. 👋🏻</p>
<p>My day job is working as in the Microsoft stack, Power Platform, PowerShell and SharePoint to solve business problems.</p>
<p>Otherwise, I enjoy hiking, riding bicycles, playing foosball, reading books and keeping up with my dang cats. 🥾 🚵🏻‍♂️ ⚽️ 📚 🐈</p>
<h2>About the site</h2>
<p>In case you were wondering, this site is:</p>
<ul>
    <li>Designed and coded on a Mac in Nashville, TN</li>
    <li>Coded with Visual Studio Code</li>
    <li>Built on <a href="https://www.11ty.dev/">11ty</a>, a static site generator</li>
    <li>Hosted on <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>