---
title: About Michael Harley
layout: base.njk
---
<section class="about" >
    <h1>about me</h1>
    <figure>
        {% myImage "./src/about/about-image.jpg", "Mike standing in hiking clothing, on a bluff with trekking poles. Foggy behind." %}
        <figcaption>Hiking in Savage Gulf</figcaption>
    </figure>
    <h2>Hi there, I'm Mike  👋🏻</h2>
    <p>I live in Nashville, TN with some <a href="/posts/please-meet-my-cats/">dang cats</a>.</p>
    <p>I enjoy hiking, riding bicycles, playing foosball, reading books and tending to this website, among other things. 🥾 🚵🏻‍♂️ ⚽️ 📚 🐈</p>
    <p>My day job is working in the Microsoft, Office 365 stack, solving business problems with Power Platform, PowerShell and SharePoint.</p>
</section>
