---
title: 404 - Page not found
layout: base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<picture>
    <source type="image/jpeg" media="(max-width: 529px)" srcset="/assets/img/404-small.jpg" >
    <source type="image/jpeg" media="(min-width: 630px)" srcset="/assets/img/404-large.jpg" >
    <img 
        loading="lazy" 
        alt="Sammie the cat laying on a computer desk with a derpy look on his face." 
        width="808"
        height="588"
        src="/assets/img/404-small.jpg">
</picture>
<h1>404 - Page not found</h1>

<p>Oh no. The resource you're trying to access wasn't found.</p>

Go <a href="/">home</a>.