---
title: Michael Harley, chief goblin herder
desc: "I enjoy hiking, biking, foosball, and reading. 
    I work with Power Platform, Powershell, Sharepoint, and I'm learning web development."
layout: base.njk
changeFreq: "weekly"
isHomePage: "Yes"
---
<section class="profile">
    <img class="profile__image" src="/assets/img/profile-photo.jpg" height="320px" weight="320px" alt="Mike holding a mug of coffee. Black and white.">
    <section class="profile__info">
        <h1 class="profile__title">Michael Harley</h1>
        <h2 class="profile__sub-title">chief goblin herder</h2>
        <p class="profile__body">
            Welcome to my personal space on the world wide web.
            I enjoy hiking, biking, foosball, and reading.
            I work with Power Platform, Powershell, Sharepoint, and I'm learning web development.
        </p>
    </section>
</section>
<section class="posts">
    <h1 class="posts__header">Some personal favs</h1>
    {% for post in collections.posts | reverse %}
        {% if post.data.isFeatured %}    
            <article class="posts__post-summary">
                <time class="posts__post-summary-date">{{ post.data.published | dateformat }}</time>
                <a class="posts__post-summary-title" href={{ post.url }}>{{ post.data.title }}</a>
            </article>
        {% endif %}
    {% endfor %}
    <a class="more-writing" href="/posts/">
        <span class="more-writing__text">more writing</span> 
        <svg class="more-writing__symbol" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="m29.08 16h-26"/>
                <path d="m29.08 16-4 5"/>
                <path d="m29.08 16-4-5"/>
            </g>
        </svg>
    </a>
</section>