---
title: Michael Harley, chief goblin herder
desc: "I enjoy hiking, biking, foosball, and reading. 
    I work with Power Platform, Powershell, Sharepoint, and I'm learning web development."
layout: base.njk
changeFreq: "weekly"
isHomePage: "Yes"
---
<section class="profile">
    <img class="profile__image" src="/assets/img/profile-photo.jpg" height="320px" weight="320px" alt="Mike holding a mug of coffee. Black and white.">
    <section class="profile__info">
        <h1 class="profile__title">Michael Harley</h1>
        <h2 class="profile__sub-title">chief goblin herder</h2>
        <p class="profile__body">
            Welcome to my personal space on the world wide web.
            I enjoy hiking, biking, foosball, and reading.
            I work with Power Platform, Powershell, Sharepoint, and I'm learning web development.
        </p>
    </section>
</section>
<section class="featured-posts">
    <h2 class="featured-posts__title">Some personal favs</h2>
    <p>Here are some of my personal favorite articles and pages that I'm proud of.</p>
    <ul>
        <li class="featured-posts__post"> 😺 <a href="/posts/please-meet-my-cats/">Please meet my cats</a></li>
        <li class="featured-posts__post"> 💻  <a href="/posts/building-my-personal-site-with-eleventy/">Building my personal site with Eleventy</a></li>
        <li class="featured-posts__post"><a href="/posts/lessons-learned-from-bridgestone/">Lessons learned from my time at Bridgestone</a></li>
    </ul>
    <a class="more-writing" href="/posts/">
        <span class="more-writing__text">more writing</span> 
        <svg class="more-writing__symbol" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="m29.08 16h-26"/>
                <path d="m29.08 16-4 5"/>
                <path d="m29.08 16-4-5"/>
            </g>
        </svg>
    </a>
</section>