---
title: Posts by Michael Harley
desc: Posts by Michael Harley
layout: base.njk
permalink: /posts/
changeFreq: "weekly"
---
<h1>writing</h1>
<section class="posts">
    {% for post in collections.posts | reverse %}
    <article class="posts__post-summary">
        <time class="posts__post-summary-date">{{ post.data.published | dateformat }}</time>
        <a class="posts__post-summary-title" href={{ post.url }}>{{ post.data.title }}</a>
    </article>
    {% endfor %}
</section>